{% extends 'base.html' %}

{% block title %}
<title>Новый пароль</title>
<meta name="description" content="Новый пароль">
<meta name="keywords" content="password, пароль"> 
{% endblock %}

{% block content %}
<main role="main">
    <div class="subheader pb-4">
        <div class="container pt-5">
            <ol class="breadcrumb">
                <li class="breadcrumb-item small mb-0"><a href="{% url 'index' %}">Главная</a></li>
            </ol>
            <h1 class="page-header title-after text-white pb-4">Новый пароль</h1>
        </div>
    </div>

    <div class="container py-5">
        {% if form.fields %}
        <div class="row">
            <div class="col-lg-6">
                <form class="needs-validation" novalidate method="POST">
                    {% csrf_token %}
                    <div class="form-label-group smaller mb-4">
                        {{ form.new_password1 }}
                        <label class="bg-white">Новый пароль</label>

                        <div class="invalid-feedback">
                            Это обязательное поле
                        </div>
                    </div>

                    <div class="form-label-group smaller mb-4">
                        {{ form.new_password2 }}
                        <label class="bg-white">Подтверждение нового пароля</label>

                        <div class="invalid-feedback">
                            Это обязательное поле
                        </div>
                    </div>

                    {% include '__recaptcha.html' %}

                    <button class="btn btn-primary d-block px-5" type="submit">Сохранить</button>
                </form>

                {% for error in form.new_password2.errors %}
                    <div class="alert alert-danger alert-dismissible small fade show" role="alert">
                        <strong>Произошла ошибка! </strong>{{ error }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% else %}
        <h2>Ошибка</h2>
        <p class="lead">Ссылка на смену пароля недействительна</p>
        {% endif %}
    </div>
</main>
{% endblock %}