{% extends 'base.html' %}

{% block title %}
<title>Восстановление пароля</title>
<meta name="description" content="Восстановление пароля">
<meta name="keywords" content="password, reset, восстановления, пароль"> 
{% endblock %}

{% block content %}
<main role="main">
    <div class="subheader pb-4">
        <div class="container pt-5">
            <ol class="breadcrumb">
                <li class="breadcrumb-item small mb-0"><a href="{% url 'index' %}">Главная</a></li>
            </ol>
            <h1 class="page-header title-after text-white pb-4">Восстановление пароля</h1>
        </div>
    </div>

    <div class="container py-5">
        <h2>Пароль восстановлен</h2>
        <p class="lead">Теперь вы можете войти в <a href="#" title="" class="btn btn-primary btn-sm" role="button" data-toggle="modal" data-target="#SignInModal">личный кабинет</a></p>
    </div>
</main>
{% endblock %}