{% extends 'base.html' %}

{% block title %}
<title>Личная информация</title>
<meta name="description" content="Личная информация">
<meta name="keywords" content="информация, профиль">
{% endblock %}

{% block content %}
<main role="main">
    <div class="subheader pb-4">
        <div class="container pt-5">
            <ol class="breadcrumb">
                <li class="breadcrumb-item small mb-0"><a href="{% url 'index' %}">Главная</a></li>
            </ol>
            <h1 class="page-header title-after text-white pb-4">Личная информация</h1>
        </div>
    </div>

    <div class="container py-5">

        <div class="row">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <h2 class="h4 mb-4">Редактировать данные</h2>
                {% if individual_form %}
                <form class="needs-validation" novalidate action="{% url 'update_profile_info' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-label-group smaller mb-4">
                        {{ individual_form.username }}
                        <label class="bg-white">СНИЛС</label>
                        <small class="form-text text-muted pt-1">Используется в качестве логина для входа в личный кабинет</small>

                        <div class="invalid-feedback">
                            Это обязательное поле
                        </div>
                    </div>

                    <div class="form-label-group smaller mb-4">
                        {{ individual_form.last_name }}
                        <label class="bg-white">Фамилия</label>

                        <div class="invalid-feedback">
                            Это обязательное поле
                        </div>
                    </div>

                    <div class="form-label-group smaller mb-4">
                        {{ individual_form.first_name }}
                        <label class="bg-white">Имя</label>

                        <div class="invalid-feedback">
                            Это обязательное поле
                        </div>
                    </div>

                    <div class="form-label-group smaller mb-4">
                        {{ individual_form.patronymic }}
                        <label class="bg-white">Отчество</label>

                        <div class="invalid-feedback">
                            Это обязательное поле
                        </div>
                    </div>

                    <div class="form-label-group smaller mb-4">
                        {{ individual_form.phone }}
                        <label class="bg-white">Контактный телефон</label>

                        <div class="invalid-feedback">
                            Это обязательное поле
                        </div>
                    </div>

                    <div class="form-label-group smaller mb-4">
                        {{ individual_form.email }}
                        <label class="bg-white">Электронная почта</label>

                        <div class="invalid-feedback">
                            Это обязательное поле
                        </div>
                    </div>

                    <h2 class="h4 mb-4">Паспорт</h2>

                    <div class="form-label-group smaller mb-4">
                        {{ individual_form.p_series_number }}
                        <label class="bg-white">Серия и номер</label>

                        <div class="invalid-feedback">
                            Это обязательное поле
                        </div>
                    </div>

                    <div class="form-label-group smaller mb-4">
                        {{ individual_form.p_issue_date }}
                        <label class="bg-white">Дата выдачи</label>

                        <div class="invalid-feedback">
                            Это обязательное поле
                        </div>
                    </div>

                    <div class="form-label-group smaller mb-4">
                        {{ individual_form.p_issued_by }}
                        <label class="bg-white">Кем выдан</label>

                        <div class="invalid-feedback">
                            Это обязательное поле
                        </div>
                    </div>

                    <div class="form-label-group smaller mb-4">
                        {{ individual_form.p_address }}
                        <label class="bg-white">Адрес прописки</label>

                        <div class="invalid-feedback">
                            Это обязательное поле
                        </div>
                    </div>

                    <div class="form-label-group smaller mb-4">
                        {{ individual_form.p_address_fact }}
                        <label class="bg-white">Адрес фактического проживания</label>

                        <div class="invalid-feedback">
                            Это обязательное поле
                        </div>
                    </div>

                    <h2 class="h4 mb-4">Водительское удостоверение</h2>

                    <div class="form-label-group smaller mb-4">
                        {{ individual_form.v_number }}
                        <label class="bg-white">Номер</label>

                        <div class="invalid-feedback">
                            Это обязательное поле
                        </div>
                    </div>

                    <div class="form-label-group smaller mb-4">
                        {{ individual_form.v_code }}
                        <label class="bg-white">Код подразделения</label>

                        <div class="invalid-feedback">
                            Это обязательное поле
                        </div>
                    </div>

                    <div class="form-label-group smaller mb-4">
                        {{ individual_form.v_issue_date }}
                        <label class="bg-white">Дата выдачи</label>

                        <div class="invalid-feedback">
                            Это обязательное поле
                        </div>
                    </div>

                    <div class="form-label-group smaller mb-4">
                        {{ individual_form.v_end_date }}
                        <label class="bg-white">Дата окончания действия</label>

                        <div class="invalid-feedback">
                            Это обязательное поле
                        </div>
                    </div>

                    <div class="form-label-group smaller mb-4">
                        {{ individual_form.v_region }}
                        <label class="bg-white">Регион</label>

                        <div class="invalid-feedback">
                            Это обязательное поле
                        </div>
                    </div>

                    <div class="mb-4">
                        <span class="mr-3 d-block mb-2">Категория:</span>
                        {% for item in individual_form.CheckGroup %}
                            <div class="custom-control custom-checkbox custom-control-inline">
                                {{ item.tag }}
                                <label class="custom-control-label" for="{{ item.id_for_label }}">{{ item.choice_label }}</label>
                            </div>
                        {% endfor %}
                    </div>

                    <button class="btn btn-primary btn-lg" type="submit">Сохранить изменения</button>

                    {% for error in individual_form.non_field_errors %}
                    <div class="alert alert-danger alert-dismissible small fade show" role="alert">
                        <strong>Произошла ошибка! </strong>{{ error }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endfor %}

                    {% for field in individual_form %}
                        {% for error in field.errors %}
                        <div class="alert alert-danger alert-dismissible small fade show" role="alert">
                            <strong>Произошла ошибка! </strong>{{ error }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        {% endfor %}
                    {% endfor %}

                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-success alert-dismissible small fade show" role="alert">
                                <strong>Поздравляем! </strong>{{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endfor %}
                    {% endif %}
                </form>
                {% endif %}

                {% if entity_form %}
                <form class="needs-validation" novalidate action="{% url 'update_profile_info' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-label-group smaller mb-4">
                        {{ entity_form.username }}
                        <label class="bg-white">ОГРН</label>
                        <small class="form-text text-muted pt-1">Используется в качестве логина для входа в личный кабинет</small>

                        <div class="invalid-feedback">
                            Это обязательное поле
                        </div>
                    </div>

                    <div class="form-label-group smaller mb-5">
                        {{ entity_form.email }}
                        <label class="bg-white">Электронная почта</label>

                        <div class="invalid-feedback">
                            Это обязательное поле
                        </div>
                    </div>

                    <h2 class="h3 title-after pb-4 mb-4">Данные организации</h2>

                    <div class="form-label-group smaller mb-4">
                        {{ entity_form.inn }}
                        <label class="bg-white">ИНН</label>

                        <div class="invalid-feedback">
                            Это обязательное поле
                        </div>
                    </div>

                    <div class="form-label-group smaller mb-4">
                        {{ entity_form.kpp }}
                        <label class="bg-white">КПП</label>

                        <div class="invalid-feedback">
                            Это обязательное поле
                        </div>
                    </div>

                    <div class="form-label-group smaller mb-4">
                        {{ entity_form.e_address }}
                        <label class="bg-white">Юридический адрес</label>

                        <div class="invalid-feedback">
                            Это обязательное поле
                        </div>
                    </div>

                    <div class="form-label-group smaller mb-5">
                        {{ entity_form.p_address }}
                        <label class="bg-white">Почтовый адрес</label>

                        <div class="invalid-feedback">
                            Это обязательное поле
                        </div>
                    </div>

                    <h2 class="h3 title-after pb-4 mb-4">Данные контактного лица</h2>

                    <div class="form-label-group smaller mb-4">
                        {{ entity_form.last_name }}
                        <label class="bg-light">Фамилия</label>
                    </div>

                    <div class="form-label-group smaller mb-4">
                        {{ entity_form.first_name }}
                        <label class="bg-light">Имя</label>
                    </div>

                    <div class="form-label-group smaller mb-4">
                        {{ entity_form.patronymic }}
                        <label class="bg-light">Отчество</label>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-label-group smaller mb-4">
                                {{ entity_form.phone }}
                                <label class="bg-light">Контактный телефон</label>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-label-group smaller mb-4">
                                {{ entity_form.fax }}
                                <label class="bg-light">Факс</label>
                            </div>
                        </div>
                    </div>

                    <h2 class="h3 title-after pb-4 mb-4">Банковские реквизиты</h2>

                    <div class="form-label-group smaller mb-4">
                        {{ entity_form.bank }}
                        <label class="bg-light">Название банка</label>
                    </div>

                    <div class="form-label-group smaller mb-4">
                        {{ entity_form.bik }}
                        <label class="bg-light">БИК</label>
                    </div>

                    <div class="form-label-group smaller mb-4">
                        {{ entity_form.check }}
                        <label class="bg-light">Расчётный счёт</label>
                    </div>

                    <div class="form-label-group smaller mb-4">
                        {{ entity_form.korr }}
                        <label class="bg-light">Корр. счёт</label>
                    </div>

                    <button class="btn btn-primary btn-lg" type="submit">Сохранить изменения</button>

                    {% for error in entity_form.non_field_errors %}
                    <div class="alert alert-danger alert-dismissible small fade show" role="alert">
                        <strong>Произошла ошибка! </strong>{{ error }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endfor %}

                    {% for field in entity_form %}
                        {% for error in field.errors %}
                        <div class="alert alert-danger alert-dismissible small fade show" role="alert">
                            <strong>Произошла ошибка! </strong>{{ error }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        {% endfor %}
                    {% endfor %}

                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-success alert-dismissible small fade show" role="alert">
                                <strong>Поздравляем! </strong>{{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endfor %}
                    {% endif %}
                </form>
                {% endif %}

                {% if businessman %}
                <form class="needs-validation" novalidate action="{% url 'update_profile_info' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-label-group smaller mb-4">
                        {{ businessman_form.username }}
                        <label class="bg-white">ОГРН</label>
                        <small class="form-text text-muted pt-1">Используется в качестве логина для входа в личный кабинет</small>

                        <div class="invalid-feedback">
                            Это обязательное поле
                        </div>
                    </div>

                    <div class="form-label-group smaller mb-5">
                        {{ businessman_form.email }}
                        <label class="bg-white">Электронная почта</label>

                        <div class="invalid-feedback">
                            Это обязательное поле
                        </div>
                    </div>

                    <h2 class="h3 title-after pb-4 mb-4">Данные организации</h2>

                    <div class="form-label-group smaller mb-4">
                        {{ businessman_form.inn }}
                        <label class="bg-white">ИНН</label>

                        <div class="invalid-feedback">
                            Это обязательное поле
                        </div>
                    </div>

                    <div class="form-label-group smaller mb-4">
                        {{ businessman_form.kpp }}
                        <label class="bg-white">КПП</label>

                        <div class="invalid-feedback">
                            Это обязательное поле
                        </div>
                    </div>

                    <div class="form-label-group smaller mb-4">
                        {{ businessman_form.e_address }}
                        <label class="bg-white">Юридический адрес</label>

                        <div class="invalid-feedback">
                            Это обязательное поле
                        </div>
                    </div>

                    <div class="form-label-group smaller mb-5">
                        {{ businessman_form.p_address }}
                        <label class="bg-white">Почтовый адрес</label>

                        <div class="invalid-feedback">
                            Это обязательное поле
                        </div>
                    </div>

                    <h2 class="h3 title-after pb-4 mb-4">Данные контактного лица</h2>

                    <div class="form-label-group smaller mb-4">
                        {{ businessman_form.last_name }}
                        <label class="bg-light">Фамилия</label>
                    </div>

                    <div class="form-label-group smaller mb-4">
                        {{ businessman_form.first_name }}
                        <label class="bg-light">Имя</label>
                    </div>

                    <div class="form-label-group smaller mb-4">
                        {{ businessman_form.patronymic }}
                        <label class="bg-light">Отчество</label>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-label-group smaller mb-4">
                                {{ businessman_form.phone }}
                                <label class="bg-light">Контактный телефон</label>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-label-group smaller mb-4">
                                {{ businessman_form.fax }}
                                <label class="bg-light">Факс</label>
                            </div>
                        </div>
                    </div>

                    <h2 class="h3 title-after pb-4 mb-4">Банковские реквизиты</h2>

                    <div class="form-label-group smaller mb-4">
                        {{ businessman_form.bank }}
                        <label class="bg-light">Название банка</label>
                    </div>

                    <div class="form-label-group smaller mb-4">
                        {{ businessman_form.bik }}
                        <label class="bg-light">БИК</label>
                    </div>

                    <div class="form-label-group smaller mb-4">
                        {{ businessman_form.check }}
                        <label class="bg-light">Расчётный счёт</label>
                    </div>

                    <div class="form-label-group smaller mb-4">
                        {{ businessman_form.korr }}
                        <label class="bg-light">Корр. счёт</label>
                    </div>

                    <button class="btn btn-primary btn-lg" type="submit">Сохранить изменения</button>

                    {% for error in businessman_form.non_field_errors %}
                    <div class="alert alert-danger alert-dismissible small fade show" role="alert">
                        <strong>Произошла ошибка! </strong>{{ error }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endfor %}

                    {% for field in businessman_form %}
                        {% for error in field.errors %}
                        <div class="alert alert-danger alert-dismissible small fade show" role="alert">
                            <strong>Произошла ошибка! </strong>{{ error }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        {% endfor %}
                    {% endfor %}

                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-success alert-dismissible small fade show" role="alert">
                                <strong>Поздравляем! </strong>{{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endfor %}
                    {% endif %}
                </form>
                {% endif %}
            </div>

            <div class="col-lg-6">
                <form class="needs-validation" novalidate method="POST" action="{% url 'password_change' %}">
                    {% csrf_token %}
                    <div class="bg-light rounded p-4">
                        <h2 class="h4 mb-4">Сменить пароль</h2>
                        <div class="form-label-group smaller mb-4">
                            {{ change_pass_form.old_password }}
                            <label class="bg-light">Текущий пароль</label>

                            <div class="invalid-feedback">
                                Это обязательное поле
                            </div>
                        </div>

                        <div class="form-label-group smaller mb-4">
                            {{ change_pass_form.new_password1 }}
                            <label class="bg-light">Новый пароль</label>

                            <div class="invalid-feedback">
                                Это обязательное поле
                            </div>
                        </div>

                        <div class="form-label-group smaller mb-4">
                            {{ change_pass_form.new_password2 }}
                            <label class="bg-light">Подтвердите новый пароль</label>

                            <div class="invalid-feedback">
                                Это обязательное поле
                            </div>
                        </div>

                        <button class="btn btn-primary" type="submit">Сохранить пароль</button>
                        
                        {% for field in change_pass_form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger alert-dismissible small fade show" role="alert">
                                    <strong>Произошла ошибка! </strong>{{ error }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endfor %}
                        {% endfor %}
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}