{% extends 'base.html' %}

{% block title %}
<title>Подтверждение почты</title>
<meta name="description" content="Отправлено письмо на почту">
<meta name="keywords" content="подтверждение, почта"> 
{% endblock %}

{% block content %}
<main role="main">
    <div class="subheader pb-4">
        <div class="container pt-5">
            <ol class="breadcrumb">
                <li class="breadcrumb-item small mb-0"><a href="{% url 'index' %}">Главная</a></li>
            </ol>
            <h1 class="page-header title-after text-white pb-4">Подтверждение почты</h1>
        </div>
    </div>

    <div class="container py-5">
        <h2>Проверьте почту</h2>
        <p class="lead">На указанную вами электронную почту выслано письмо с инструкциями для подтверждения учётной записи</p>
    </div>
</main>
{% endblock %}