{% extends 'base.html' %}

{% block title %}
<title>{{ flatpage.title }}</title>
<meta name="description" content="{{ flatpage.title }}">
<meta name="keywords" content="{{ flatpage.title }}"> 
{% endblock %}

{% block content %}
<main role="main">
    <article>
        <div class="subheader pb-4">
            <div class="container pt-5">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item small mb-0"><a href="{% url 'index' %}">Главная</a></li>
                    <!-- <li class="breadcrumb-item small mb-0"><a href="dropdown-content.html">О нас</a></li> -->
                </ol>
                <h1 class="page-header title-after text-white pb-4">{{ flatpage.title }}</h1>
            </div>
        </div>

        <div class="container py-5">
            <div class="row">
                <div class="col-lg-8 mb-5 mb-lg-0">
                    {{ flatpage.content|safe }}
                </div>

                {% include '__right-menu.html' %}
            </div>
        </div>
    </article>
</main>
{% endblock %}