@font-face {
    font-family: PTSerif;
    src: url({% static 'fonts/PTSerif-Regular.ttf' %});
}
@font-face {
    font-family: PTSerif;
    font-weight: bold;
    src: url({% static 'fonts/PTSerif-Bold.ttf' %});
}
body {
    font-family: PTSerif;
    font-size: 13px;
}
.top {
    text-align: right;
    font-weight: bold;
    padding: 0;
    margin: 0;
}
.center {
    text-align: center;
    font-weight: bold;
    padding: 0;
    margin: 0;
}
.under_text {
    font-size: 9px;
}
.w-text {
    color: #ffffff;
}
table, td {
    border: 1px solid black;
    padding: 0;
    margin: 0;
}

table tbody td {
    height: 20px;
}

.th {
    font-size: 10px;
    height: 100px;
    padding: 0;
    margin: 0;
    text-align: center;
}
ul {
    list-style-type: none;
}